@page "/Students"

<h2>Students list</h2>
<br/>
<h3>This list is including registered students and their school</h3>
<br />
<br />
<div class="card">
    <div class="card-body">
        <StudentTable />
    </div>
</div>
