<div class="modal fade" id="StudentModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="StudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content justify-content-center">
            <StudentForm />
        </div>
    </div>
</div>