<div class="modal fade" id="SchoolModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="SchoolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content justify-content-center">
            <SchoolForm />
        </div>
    </div>
</div>
